.container {
    max-width: 400px;
    min-height: 450px;
    margin: auto;
    background-color: skyblue;
    box-shadow: 0 0 20px gray;
    margin-top: 50px;
    padding: 15px 50px;

}


.projectname {
  text-align: center;
}

.expensecontainer{
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  box-shadow: 0 0 50px yellowgreen;
}
.transactionlist{
  margin: 5px;
  padding: 5px;
}

.transactionlist>li{
display: flex;
justify-content: space-between;
box-shadow: 0 0 10px blue;
background-color: white;
margin: 5px ;
padding: 2px;

}

.transitionform input {
  width: 100%;
  padding: 5px;
  margin: 5px;
}
.transitionform button {
  width: 50%;
  height: 50px;
  box-shadow: lightseagreen;
  background-color:mediumorchid ;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}